RewriteEngine On

# Allows the following to be accessed directly
RewriteRule ^(includes|files)/(.+) "$0" [L]

# Converts the URL into scripting parameters
RewriteCond %{SCRIPT_FILENAME} !/index\.php$
RewriteRule (.*) "index.php" [QSA,E=MODULE:$1]

# Quotes from the data from GPC (GET/POST/COOKIE) won't be automatically escaped
php_value magic_quotes_gpc 0

Options -Indexes

