
@import url("common.css");


#menu ul li a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    float: left;
    line-height: 25px;
    padding: 0 16px;
    border-right: 1px solid #ffffff;
  }


#menu ul li a:hover {
    background: #5494F3;
  }


#content .content_left {
    float : left;
    width : 375px;
  }


#content .content_right {
    float : right;
    width : 375px;
  }

