
@import url("common.css");


.content_left h2 span {
    display: none;
  }


#content .align_right {
    text-align: right;
  }


#content .content_left {
    width: 375px;
  }


#content .content_right {
    width: 375px;
  }


#content .notes ul {
    font-size: 1.1em;
    line-height: 1.8em;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }


#content .notes ul li {
    background: url('../images/bullet_grey.png') no-repeat center left;
    padding: 0px 0px 0px 20px;
  }


#content .form_table input.short {
    width: 25px;
  }


#content .form_table textarea {
    height: 125px;
  }
