
@import url("common.css");


#content .align_right {
    text-align: right;
  }


#content .content_left {
    width: 375px;
  }


#content .content_right {
    width: 375px;
  }


#content .notes ul {
    font-size: 1.1em;
    line-height: 1.8em;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }


#content .notes ul li {
    background: url('../images/bullet_grey.png') no-repeat center left;
    padding: 0px 0px 0px 20px;
  }


#content .form_table input.short {
    width: 25px;
  }


#content .form_table textarea {
    height: 125px;
  }


#content .positive {
    background: #CAEA99;
    border: 1px solid #70A522;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333333;
  }


#content .table {
    margin-bottom: 15px;
    width: 100%;
    border-collapse: collapse;
    border: none;
  }


#content .table th {
    background: url('../images/tableheader_bg.png') no-repeat center top;
    padding: 5px 10px;
    color: rgb(70,122,167);
    border: 1px solid #CBD6DE;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
  }


#content .table td {
    padding: 5px 10px;
    color: #666666;
    border: 1px solid #CBD6DE;
  }


#content .table .odd {
    background: #ffffff;
  }


#content .table .even {
    background: #eeeeee;
  }

/* Widths */

.w10 {
    width: 10%;
  }


.w15 {
    width: 15%;
  }


.w45 {
    width: 45%;
  }

