

body {
    min-width : 750px;
    font-family: Georgia, Times New Roman, serif;
    text-align : center; /* IE fix */
  }


img {
    border : 0;
  }

a {
    text-decoration : none;
}


#wrap {
    margin : 0 auto;
    width : 750px;
    background : url('../images/middle.png') repeat-y;
    text-align : center; /* IE fix */
  }


#header {
    background : url('../images/top.png') no-repeat top center;
    padding-top : 30px;
    text-align : center;
  }


.body {
    padding-top : 5px;
    padding-bottom : 5px;
  }


.left_body {
    float : left;
    width : 350px;
    padding-left : 20px;
  }


.right_body {
    float : right;
    width : 350px;
    padding-right : 20px;
  }

.center_body {
    margin : 0 auto;
    width : 710px;
    padding : 0 20px 0 20px;
}

.position {
    font-family : Verdana, Helvetica, Arial, sans-serif;
    font-weight : bold;
  }

.not_selected {
    color : #BBBBBB;
  }


.clear {
    clear : both;
  }


.menu {
    width : 720px;
    margin : 0 auto 20px auto;
    font-family : Verdana, Helvetica, Arial, sans-serif;
    border-top : 1px solid #BBBBBB;
    border-bottom : 1px solid #BBBBBB;
    background-color : #E5E5E5;
  }


#left_menu {
    float : left;
    font-size : large;
    padding : 10px;
    color : #BBBBBB;
  }


#left_menu ul {
    margin : 0;
    padding : 0;
    list-style : none none;
  }


#left_menu ul .active {
    color : black;
  }


#left_menu li {
    display : inline;
    margin : 0;
    padding : 0;
  }


#right_menu {
    float : right;
    font-size : x-small;
    padding-right : 10px;
  }

#menu_center {
    margin-top : 20px;
}

#center_menu {
    text-align : center;
    padding : 10px;
  }

#footer {
    background : url('../images/bottom.png') no-repeat bottom center;
    font-family : Verdana, Helvetica, Arial, sans-serif;
    font-size : small;
    padding-bottom : 30px;
    text-align : center;
  }


fieldset {
    border : 1px solid #BBBBBB;
    background-color : #E5E5E5;
    text-align : left;
  }

.message {
    width : 350px;
    margin : 0 auto 20px auto;
    font-family : Verdana, Helvetica, Arial, sans-serif;
    border : 1px solid #FFAAAA;
    background-color : #FFE5E5;
  }

.message_header {
    text-align : center;
    border : 1px solid #FFAAAA;
    background-color : #FFAAAA;
  }

.message_body {
    text-align : left;
  }


/* Admin Styles */

.admin_menu {
    width : 720px;
    margin : 0 auto 20px auto;
    font-family : Verdana, Helvetica, Arial, sans-serif;
    border-top : 1px solid #BBBBBB;
    border-bottom : 1px solid #BBBBBB;
    background-color : #AAFFAA;
  }

.header {
    font-family : Verdana, Helvetica, Arial, sans-serif;
    font-weight : bold;
  }

.admin_inner_center_body {
    margin : 0 auto;
    width : 680px;
    padding : 0 0 0 0;
}

/*a:link {
	color: black; 
	text-decoration: none;
}

a:hover {
	color: green; 
	text-decoration: none;
	font-weight : bold;
}

a:active {
	color: green; 
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: black; 
	text-decoration: none;
	font-weight: none;
}*/

/* End Admin Styles */

/* DOM Tooltip Style */
div.domTT {
    border: 1px solid #BBBBBB;
    background-color: #E5E5E5;
    font-family : Verdana, Helvetica, Arial, sans-serif;
  }
div.domTT .caption {
    text-align: left;
    background-color: #BBBBBB;
    padding : 2px;
}
div.domTT .contents {
    text-align: left;
    padding : 2px;
}