
@import url("common.css");


#menu ul li {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    float: left;
    line-height: 25px;
    padding: 0 16px;
    border-right: 1px solid #ffffff;
  }

/* confirm vote reminder */
div.reminder {
    border: 1px solid #FFAAAA;
    background-color: #FFE5E5;
    padding: 5px;
    margin: 0px 0px 15px;
    font-size: small;
    text-align:center;
  }

/* not selected */
.selected {
    background-color: #c7d5f3;
  }

