body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 80%;
	color: #545454;
	background-color: #C4C4C4;
	text-align: center;
}

p {
	margin: 0.1em 0 0.1em 0;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 200%;
	font-weight: normal;
	color: #4169E1;
}

h2 {
	margin: 0.1em;
	padding: 0;
	background-color: #A7BAEF;
	color: White;
	font-size: 100%;
	font-weight: normal;
}

div {
	margin: 0; 
	padding: 0; 
	display: block;
}

a:link {
	color: #4169E1; 
	text-decoration: underline;
}

a:hover {
	color: #E16840; 
	text-decoration: none;
}

a:active {
	color: #4169E1; 
	text-decoration: underline;
}

a:visited {
	color: #B840E1; 
	text-decoration: underline;
}

.container {
	background-color: #FFFFFF; 
	margin: 0 auto 0 auto; 
	padding:0; 
	width: 740px;
}

.header {
	padding: 2em; 
	margin: 0; 
	text-align: left;
	background-image: url(images/halalanlogo.jpg);
	background-repeat: no-repeat; 
	background-position: center;
	height: 78px;
}

.header p {
	text-indent: 8em; 
	color: #3B4471;
}

ul.navigation {
	list-style-type: none; 
	float: left; 
	display: block; 
	width: 740px; 
	line-height: 0.1em; 
	clear: both; 
	margin: 0; 
	padding: 0; 
	background-color: White;
	border-bottom: 1px solid #C4C4C4;
}

.left {
	float: left; 
	clear: both; 
	width: 14em; 
	margin: 0 0 0 0.1em; 
	padding: 0;
}

.leftcontent {
	margin: 0.5em; 
	padding: 0.3em; 
	border: 1px solid #C4C4C4; 
	text-align: left;
}

.leftcontent p {
	padding-left: 1em;
}

.leftcontent p a:link, a:visited{
	color: #545454;
	text-decoration: none
	
}

.leftcontent p a:hover{
	color: #72C32B;
}

.leftcontent p a:active {
	color: #545454;
	text-decoration: none
}

.left h2 {
	text-align: left; 
	padding: 0 0 0 1em;
}

.leftlinks a {
	display: block;
}

.content {
	clear: right; 
	text-align: left; 
	margin: 0.5em 0.5em 0 14.2em; 
	padding: 0.3em 1ex 0.3em 1ex;
	border: 1px solid #C4C4C4; 
}

.content h2 {
	padding: 0 0 0 1em;
}

.footer {
	font-size: 75%; 
	margin: 0.1em; 
	padding: 0.3em; 
	text-align: center; 
	clear: both;
}

.footer p { 
	border: 1px solid #C4C4C4;
	padding: 0.5em;
	margin: 0.3em;
}